<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--<add key="ConnectionString" value="server=WASQL03P;Integrated Security=SSPI; database=FACSEmailDBTSI;" />-->
    <add key="ConnectionString" value="server=PWSQL18.tsi-ad.com;user=facssms; pwd=L@tAdm1n; database=AS400EmailDBTSI_Dev;" />   
    <add key="GetEmailsProc" value="Get_Send_Email_bpool" />
    <add key="Schema" value="D:\Source Code\FACSEmail_TSI\SendGridEmailSend_TSI\SendGridEmailSend\Schema.json"/>
    <add key="SubjectLine" value="Your {Client_Name} Account Ending in {Account_Number}"/>    
    <add key="Unsubscription_URL" value="https://emailwebhook.convergentusa.com/SendGrid_Unsubscription/home/index"/>
    <!-- if Send_Email = "True" then we send the email -->
    <!-- if Send_Email = "False" then we do not send the email -->
    <add key="Send_Email" value="TRUE"/>
    <add key="DefaultPhone" value="800-444-8485"/>
  </appSettings>
</configuration>
